.footer {
	font-family: "firs";
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-top: 250px;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #ffffff;
	color: #000000;
}

.oferta {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(0, 81, 255);
	font-size: 18px;
}

.oferta:hover {
	color: #000000;
}

@media (max-width: 1440px) {
	.footer {
		font-size: 12px;
		padding-top: 0px;
	}
}

@media (max-width: 1021px) {
	.footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size: 10px;
		padding-top: 0px;
	}
	.oferta {
		font-size: 12px;
	}
}
